<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>音乐厅展示.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>638B90201C8834740053E51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>638B90391C8834740053E51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>638B90441C8834750053E51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
